.content-section .media-body img
{
    float: left;
    margin-right: 20px;
    margin-top: 5px;

}

.content-section p
{
    display: flex;
    text-align: justify;
}

.content-section .read_more
{
    margin-top: 30px;
}




