.content-section .media-body img
{
    display: block;
    margin-right: 20px;
    margin-top: 5px;
    float: left;
    margin-bottom: 20px;

}

.content-section .article-title
{
    margin-bottom: 20px;
}


.content-section h6
{
    clear: both;
    font-weight: bold;
}

.content-section .fas
{
    margin-left: 5px;
    margin-right: 5px;
    color: #4D4545;
}

.content-section p
{
    text-align: justify;
    margin-top: 10px;
}

.content-section .read_more
{
    display: block;
    margin-top: 40px;
}

.content-section .time-prep
{
    margin-top: 30px;
}


.content-section, .content-section h6
{
    color: #4D4545;
}

.nutri-content table
{
    margin-top: 22px;
    width: 55%;
    text-align: center;
    color: #4D4545;
}

.nutri-content .nutri-names
{
    font-weight: bold;
}

.article-content
{
    text-justify: auto;
}






