body
{
    background: #FFFFFF;
    font-family: 'Merriweather', serif;
}

.title
{
    margin-top: 30px;
    margin-bottom: 20px;
}


.title a
{
    text-align: center;
    color: #D83F46;
    text-decoration: none;
}

.bg-composer
{
	background-color: #4D4545;
}

.bg-composer a:hover
{
	color: #D83F46 !important;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}



