{% extends "base.html" %}
{% block content %}
    {% if not user.user_menus.count %}
        <p>No menus creted by {{ user.username }}</p>
        <a class="btn btn-outline-info" href="{% url 'create-menu' %}">Add menu</a>
    {% else %}
        {% for menu in menus %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ menu.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <span class="article-author mr-2"><a  href="#">{{ menu.author }}</a></span>
                </div>
                <h6><a class="article-title" href="#">{{ menu.name }}</a></h6>
            </div>
        </article>
        {% endfor %}
    {% endif %}


    <div class="buttons-paginate">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

    {% endif %}
    </div>
{% endblock content %}