{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'diet_composer/main.css' %}">
        <script src="https://kit.fontawesome.com/0a451c7507.js" crossorigin="anonymous"></script>

        {% if title %}
            <title>Diet composer - {{ title }}</title>
        {% else %}
            <title>Diet composer</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <div class="title" ><a href="{% url 'diet_composer-home' %}"><h1>Diet Composer</h1></a></div>

            <nav class="navbar navbar-dark bg-composer navbar-expand-lg">

                <a class="navbar-brand" href="{% url 'diet_composer-home' %}"><i class="fas fa-utensils"></i></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="nav-switcher">
				    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'diet_composer-home' %}"> Main Page </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Composer </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Blog </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Recipes </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'diet_composer-about' %}"> About </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Register </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>


        <div class="container">


        {% block content %} {% endblock %}


        </div>

        <!-- Back to top button -->
        <button onclick="topFunction()" id="button"></button>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'diet_composer/top_nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'diet_composer/scroll_top.js' %}"></script>

    </body>
</html>